<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">
      ...
    </div>
    <div class="form-group"> 
        <label for="firstName">First Name</label>
        <input 
          required 
          minlength="3" 
          maxlength="10" 
          pattern="banana" 
          ngModel 
          name="firstName" 
          id="firstName" 
          type="text" 
          class="form-control"
          #firstName1="ngModel" (change)="log(firstName1)" >
        <div 
          class="alert alert-danger" 
          *ngIf="firstName1.touched && !firstName1.valid">
          <div *ngIf="firstName1.errors.required">
            First name is required.
          </div>
          <div *ngIf="firstName1.errors.minlength">
            First name should be mininum {{firstName1.errors.minlength.requiredLength}} charactors.
          </div>
          <div *ngIf="firstName1.errors.pattern">
            First name doesn't match the pattern.
          </div>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment"  id ="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed">
      Subscribe to mailing list.
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod"></label>
    <select ngModel name="contactMethod" id="contactMethod" class="form-control">
    <!-- <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control"> -->
            <option></option>
      <option *ngFor="let method of contactMethods"  [value]="method.id">{{method.name}}</option>
      <!-- <option *ngFor="let method of contactMethods"  [ngValue]="method">{{method.name}}</option> -->
    </select>
  </div>
  <div *ngFor="let method of contactMethods" class="radio" >
    <label>
      <input ngModel type="radio" name="contactMethod" [value]="method.id">
        {{method.name}}
    </label>
  </div>
  <p>
    {{f.value | json}}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>