<!-- <contact-form></contact-form> -->
<!-- <signup-form></signup-form> -->
<!-- <new-course-form></new-course-form> -->
<!-- <posts></posts> -->
<!-- <directives  (changed)="onChanged($event)"></directives> -->
<!-- <template-drive></template-drive> -->
<!-- <reactive></reactive> -->
<!-- <template-drive2></template-drive2> -->
<!-- <reactive2></reactive2> -->
<!-- <http-services></http-services> -->
<!-- <http-services2></http-services2> -->
<navbar></navbar>
<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->